body .background-image{
    background-image:url('https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg');
    background-attachment: scroll, fixed;
    background-repeat:no-repeat;
    background-position: top;
    background-size: auto,cover;
    box-sizing: content-box;
    position: relative;
    

    
}

nav{
   
    width: 50%;
    margin-top: -7%;
    position: absolute;
    left: 350px;
    right: 30%;
    height: 100px;
    display: flex;
    background-color: #fff;
    align-items:center;
   justify-content:center;
   column-gap: 1.5cm;
   padding-left: 400px;
   padding-right: 1px;
    
}



div .qoutes{
    padding-top: 5%;
    color:white;
    font-size: 28px;
    font-family: 'Jost', sans-serif;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif, Arial;
  padding: 20px 20px 0 20px;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}
a:hover {
  opacity: .9;
}
p {
  font-family: Dosis, sans-serif;
  color: var(--primary-text-color);
  font-size: 17px;
  line-height: 25px;
}

.link {
  padding-bottom: 5px;
  letter-spacing: 1px;
  color: var(--primary-text-color);
}
.link:hover {
  border-bottom: 1px solid var(--primary-bg-color);
}
.link.white {
  color: white;
}
.link.white:hover {
  border-bottom: 1px solid white;
}
ul {
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}
.social-icons {
  
  position: absolute;
  margin-top: -20%;
  margin-right: -7%;
  display: flex;
  flex-direction: column;
}
.social-icons.block {
    justify-content: center;
    height: 200px;
    width: 50px;
    right: 20px;
    flex-direction: column;
    background-image: linear-gradient(120deg, #a19494, #121212);
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    
    

  }

.social-icons img {
  width: 50%;

  justify-content: center;
}
.social-icons a:last-child {
  border-bottom: none;
}

div .contact-container {
    display: flex;
    width: 950px;
    padding-left: 740px;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-image: linear-gradient(120deg, #ff6361, #e47312);
    margin-right: 60px;
    margin-top: 750px;
    margin-left: 50px;
    text-align: right;
    font-family: 'Jost', sans-serif;
    
  }
  


  div .contact-container .contact {
    position: relative;
    padding-bottom: 20% ;
    padding-left: 20px;
    width: 1000px;
    height: 30px;
    color: white;
   align-items:baseline;
   margin-left: 100px;
  }
  div .contact-container .contact .mail{
    text-align: justify;
    padding-left: 5%;

  }
  div .contact-container .contact .social-icons {
    bottom: auto;
    right: 40px;
    height: 90px;
    padding-inline-start: 2%;
    
    
  }
  
/*specialization section*/


  .specialization .specializations .specialization {
    width: 60%;
    padding-top: 10%;
    text-align: left;
    padding-bottom: 5%;
    margin-top: 20px;
  }
  .specialization .specializations .specialization img {
    width: 60px;
    text-align: left;
  }
  .specialization .specializations .specialization h2 {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color: #6b6464;
    font-family: 'Jost', sans-serif;
    margin-top: 20px;
  }
  .specialization .specializations .specialization p {
    margin-bottom: 10px;
    color: var(--primary-text-color);
    color: #b5a7a7;
   
  }
  .specialization .specializations .specialization a {
    margin-top: 15px;
    font-size: 13px;
  }

/*About Section*/

  .who-we-are .team {
    padding-bottom: 60px;
    padding-top: 10%;
  }
  .who-we-are .team .img,
  .who-we-are .team .content {
    width: calc(50% - 60px);
  }
  .who-we-are .team .img img {
    width: 100%;
  } 
  .who-we-are .team .content p {
    margin-bottom: 10px;
    color: #b5a7a7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .who-we-are .team .content a {
    margin-top: 30px;
    display: inline-block;
  }
  .who-we-are .facts .fact {
    width: calc(25% - 20px);
  }
  .who-we-are .facts .fact h2 {
    margin-bottom: 10px;
    color: var(--primary-bg-color);
    font-size: 50px;
    line-height: 70px;
    font-weight: 500;
    color: #bd5d09;
    font-family: 'Jost', sans-serif;
  }
  .who-we-are .facts .fact p {
    margin-bottom: 10px;
    width: 150px;
    color: #b5a7a7;
    padding-bottom: 30%;
  }

/*Work */

  .our-work .work {
    flex-wrap: wrap;
    
  }
  .our-work .work .project {
    width: calc(33% - 20px);
    position: relative;
    margin-bottom: 30px;
  }
  .our-work .work .project img {
    width: 100%;
    display: block;
  }
  .our-work .work .project .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    
  }
  .our-work .work .project:hover .overlay {
    display: flex;
    
  }
  .our-work .work .project .overlay span {
    border-radius: 100%;
    background-image: linear-gradient(59deg, #ff6361, #e47312);
    color: white;
    width: 80px;
    height: 80px;
    display: inline-flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
  }


  .quote {
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url(images/banner-2.jpg);
    background-position: 0px 0px, center;
    background-size: auto, cover;
    background-repeat:repeat, no-repeat;
    background-attachment: scroll, fixed;
    padding: 80px 0;
    text-align: center;
    color: #fff;
    margin: 100px 0;
  }
  
  .quote p {
    margin-bottom: 40px;
    color: white;
    font-family: 'Jost', sans-serif;

  }

/*PROFESSIONALS*/

  .professionals .members .team-1 {
    width: calc(25% - 20px);
    position: relative;
  }
  .professionals .members .team-2 {
    width: calc(25% - 20px);
    position: relative;
  }
  .professionals .members .team-3 {
    width: calc(25% - 20px);
    position: relative;
  }
  .professionals .members .team-4 {
    width: calc(25% - 20px);
    position: relative;
  }
  .professionals .members .team-1 .team-photo {
    background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/team-1.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px; ;
  }
  .professionals .members .team-1 .social-icons{
    justify-content: center;
    
    height: 200px;
    width: 50px;
    right: 20px;
    top: 410px;
    flex-direction: column;
    background-image: linear-gradient(120deg, #ff6361, #e47312);
    padding-left: 16px;
    padding-top: 10px;
    
    display:grid;
  
   
  }
  .professionals .members .team-2 .social-icons{
    justify-content: center;
    background-image: linear-gradient(120deg, #ff6361, #e47312);
    height: 200px;
    width: 50px;
    right: 20px;
    top: 410px;
    flex-direction: column;
    
    padding-left: 16px;
    padding-top: 10px;
    
    display:grid;
  }
  .professionals .members .team-3 .social-icons {
    justify-content: center;
    background-image: linear-gradient(120deg, #ff6361, #e47312);
    height: 200px;
    width: 50px;
    right: 20px;
    top: 410px;
    flex-direction: column;
    
    padding-left: 16px;
    padding-top: 10px;
    
    display:grid;
   
    
  }
  

  .professionals .members .team-4 .social-icons{
   
    justify-content: center;
   
    height: 200px;
    width: 50px;
    right: 20px;
    top: 410px;
    flex-direction: column;
    background-image: linear-gradient(120deg, #ff6361, #e47312);
    padding-left: 16px;
    padding-top: 10px;
    
    display:grid;
    
    
  }

  .professionals .members .team-2 .team-photo{
    background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/team-2.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px; ;
  }

  .professionals .members .team-3 .team-photo{
    background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/team-3.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px; ;
  }

  .professionals .members .team-4 .team-photo{
    background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/team-4.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px; ;
  }
    
  .professionals .members .team .team-content {
    background: white;
    padding: 20px 15px;
  }
  .professionals .members .team .team-content h2, 
  .professionals .members .team .team-content p {
    margin: 0;
  }
  .professionals .members .team .team-content h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .professionals .members .team .team-content p {
    color: var(--primary-text-color);
  }



/*TESTIMONIALS*/


  .testimonials .heading-outer {
    width: calc(40% - 50px);
    margin-top: 10%;
  }
  .testimonials .heading-outer a {
    display: inline-block;
    margin-top: 20px;
  }
  .testimonials .lists {
    width: calc(60% - 50px);
  }
  .testimonials .lists {
    flex-wrap: wrap;
  }
  .testimonials .lists .testimonial {
    width: calc(50% - 20px);
    background: white;
    margin-bottom: 70px;
    text-align: center;
    padding: 30px 15px 15px;
    position: relative;
    margin-top: 50%;
  }

  .testimonials .lists .testimonial:nth-child(1) {
    margin-top: 260px;
    background-color: #eeeef8;
  }
  .testimonials .lists .testimonial:nth-child(2) {
    margin-top: 10px;
    background-color: #eeeef8;

  }
  .testimonials .lists .testimonial:nth-child(3) {
    margin-top: -880px;
    margin-left: 360px;
    margin-bottom: 0;
    background-color: #eeeef8;
    
  }
  .testimonials .lists .testimonial:nth-child(4) {
    margin-bottom: 0;
    margin-top: -280px;
    margin-left: 360px;
    background-color: #eeeef8;
    
  }
  .testimonials .lists .testimonial .highlight {
    position: absolute;
    width: 80px;
    height: 40px;
    border-radius: 100%;
    color:#fff;
    font-size: 75px;
    padding-top: 40px;
    justify-content: center;
    left: 50%;
    top: -60px;
    transform: translateX(-50px);
    background-image: linear-gradient(120deg, #ff6361, #e47312);
    justify-content:center;
    align-items: center;
    text-align: center;
  }
  .testimonials .lists .testimonial h2 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;  
  }
  .testimonials .lists .testimonial h3 {
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;  
  }
  .testimonials .lists .testimonial p {
    margin-top: 15px;
    margin-bottom: 0px;
  }



/*BLOG POST*/


.blogs-section{
	box-sizing: border-box;
	padding-top: 100px;
	background-color: #fff;
}
.blogs-section .project-heading  h1{
  font-size: 50px;
  text-align: left;
  
}
.blogs-section .project-heading p{
  text-align: right;
  
}
.blogs-section  .blog-heading{
  text-align: left;
  font-size: 40px;

}
.blogs-wrapper{
	box-sizing: border-box;
	max-width: 100%;
	padding: 50px 40px;
	display: flex;
	flex-wrap: wrap;
}
.blogs{
	position: relative;
	width: calc(33% - 25px);
	margin: 0px 10px;
	background-image: linear-gradient(158deg,#e47312,#ff6361);
	cursor: pointer;
}
.blog-image{
	max-width: 100%;
}
.blogs-date{
	position: absolute;
	top: 0;
	right: 0;
	
}
.meta-number{
	width: 70px;
	height: 70px;
	background-image: linear-gradient(45deg,#ff6361,#e47312);
	color: #fff;
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.meta-number p{
	margin: 0;
}
.meta-month{
	width: 70px;
	height: 40px;
	background-color: #fff;
	color: #9d9da5;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.meta-month p {
	margin: 0;
	text-transform: uppercase;
}
.blog-content{
	box-sizing: border-box;
	padding: 15px 96px 45px 40px;
	background-color: #e47312;
	background-image: linear-gradient(158deg,#e47312,#ff6361);
}
.blog-title{
	margin-right: 0px;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 26px;
	font-weight: 600;
	color: #fff;
	letter-spacing: 1px;
}
.for-button.blog{
	border-bottom: 2px solid hsla(0, 0%, 10%, 0.2);
	padding-top:70px;
}
.for-button.blog:hover{
	border-bottom: 2px solid #fff;
}
.blog-footer{
	box-sizing: border-box;
	max-width: 100%;
	margin-top: 100px;
	background-image: linear-gradient(56deg,#e47312,#ff6361);
	padding: 7% 5% 7% 3%;
	display: flex;
	align-items: center;
}



.paragraph-white.blog{
	color: #fff;
	margin: 0;
	font-weight: 600;
	letter-spacing: 1px;
	width: 350px;
  padding-top: -150px;
}
.blog-logo-1{
  background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-1w.png' );
  background-size: 150px;
  width: 33px;
  background-color:#ffffff00;
  min-height:90px;
  max-width: 100%;
  padding-left: 20px;
  text-align: center;
  display: inline-block;
  background-repeat: no-repeat;
  padding-right: 90px;
}

.blog-logo-2{
  background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-2w.png');
  background-size: 150px;
  width: 33px;
  background-color:#ffffff00;
  min-height:90px;
  max-width: 100%;
  padding-left: 20px;
  text-align: center;
  display: inline-block;
  background-repeat: no-repeat;
  padding-right: 100px;
}

.blog-logo-3{
  background-image: url('	https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-3w.png  ');
  background-size: 150px;
  width: 33px;
  background-color:#ffffff00;
  min-height:90px;
  max-width: 100%;
  padding-left: 20px;
  text-align: center;
  display: inline-block;
  background-repeat: no-repeat;
  padding-right: 90px;
}

.blog-logo-4{
  background-image: url('	https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-3w.png ');
  background-size: 150px;
  width: 33px;
  background-color:#ffffff00;
  min-height:90px;
  max-width: 100%;
  padding-left: 20px;
  text-align: center;
  display: inline-block;
  background-repeat: no-repeat;
  padding-right: 90px;
}
.blog-logo-5{
  background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-5w.png');
  background-size: 150px;
  width: 33px;
  background-color:#ffffff00;
  min-height:90px;
  max-width: 100%;
  padding-left: 20px;
  text-align: center;
  display: inline-block;
  background-repeat: no-repeat;
  padding-right: 150px;
  


}





/*FOOTER*/


  footer {
    padding: 80px 0 0;
    background: rgb(17, 17, 17);
    color: white;
  }
  footer p {
    color: white;
  }
  footer .link {
    color: white;
    
  }
  footer .primary {
    align-items: flex-start;
  }


  footer .primary .about,
  footer .primary .services,
  footer .primary .contact {
    width: calc(33.33% - 30px);
  }

  

  footer .primary .services{
    padding-left: 120px;
  }


  footer .primary .infos .info {
    background-repeat: no-repeat;
    background-size: 28px;
    padding-left: 40px;
    margin-bottom: 40px;
  }
  footer .primary .infos .info.phone {
    background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/phone.svg');
  }
  footer .primary .infos .info.time {
    background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/clock.svg');
  }
  footer .primary .infos .info.email {
    background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/mail.svg');
  }
  
  footer .logo {
    display: inline-flex;
    height: 110px;
    padding: 0 35px;
    background: var(--primary-bg-color);
  }
  footer .logo img {
    width: 100px;
  }